<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Leeson01/src/com/gaoxing/lesson05/TestSyso.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.gaoxing.lesson05.TestSyso"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Leeson01"/>
</launchConfiguration>
